.stream-container {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

.local-stream-container {
    position: absolute;
    top:2%;
    left: 28%;
}

.video-control-buttons {
    position:absolute;
    top:90%;
    left:20%;
}

.video-control-button {
    margin-right:16px;
    color:black;
}

.user-action-buttons {
    margin-left: 16px;
}

.white-icon {
    color: #ffffff;
}

@media screen and (min-width: 2000px) {
    .local-stream-container {
        position: absolute;
        top:2%;
        left: 32%;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .video-control-buttons {
        position:absolute;
        top:90%;
        left:33%;
    }
}

@media screen and (max-width: 1024px) {
    .local-stream-container {
        position: absolute;
        top:2%;
        left: 60%;
    }
}
