.video-console {
    width: 125px;
    height: 125px;
    border-radius: 24px;
    background-color: #FFCA28;
    padding: 2px 2px 2px 2px;
}

video {
    object-fit: fill;
}

@media only screen and (min-width: 768px) {
    /* Desktop versions */

    .video-console {
        width: 175px;
        height: 175px;
        border-radius: 24px;
        background-color: #FFCA28;
        padding: 2px 2px 2px 2px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    /* Tablet versions */

    .video-console {
        width: 125px;
        height: 125px;
        border-radius: 24px;
        background-color: #FFCA28;
        padding: 2px 2px 2px 2px;
    }
}