.local-video-container {
    display: flex;
    justify-content: flex-end;
    /* Changed to align to the right */
    position: absolute;
    right: 10vw;
    /* Added to position the container on the right side */
    width: auto;
    margin-top: 16px;
    margin-right: 16px;
}

.video-console {
    width: 125px;
    height: 125px;
    border-radius: 24px;
    border: 2px ridge #FF8C00;
    padding: 2px;
}

video {
    object-fit: fill;
}

@media only screen and (min-width: 1024px) {

    /* Desktop versions */
    .video-console {
        width: 175px;
        height: 175px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {

    /* Tablet versions */
    .video-console {
        width: 150px;
        height: 150px;
        margin-right: 16px;
    }
}