/* Mobile version */

.video-console {
    width:100% !important;
    height:100% !important;
    background-color: black;
    position:absolute;
}

video {
    object-fit: fill;
}

.spinner {
    position: absolute;
    left: 23%;
    top: 50%;
}

@media only screen and (min-width: 768px) {
    /* Desktop versions */

    .video-console {
        width:80% !important;
        height:80% !important;
        background-color: black;
        position:absolute;
        margin-left:10vw;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    /* Tablet versions */

    .video-console {
        width:75% !important;
        height:75% !important;
        background-color: black;
        position:absolute;
        margin-left:12vw;
    }
}
