/* Mobile version */
.remote-video-container {
    display: flex;
    justify-content: center;
    justify-self: center;
}

.video-console {
    width:100% !important;
    height:100% !important;
    background-color: black;
    position:absolute;
    border-radius: 8px;

    @media screen and (max-width: 600px) {
        border-radius: 0px;
    }
}

video {
    object-fit: fill;
}

.spinner {
    position: absolute;
    top: 40%;
}

.status-text {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #ffffff;
    position: absolute;
    top: 55%;
}

.watermark {
    z-index: 1000;
    position: absolute;
    margin: 8px;
    width: 125px;
    height: 50px;
    left: 30%;
    top: 98%;
}

@media only screen and (min-width: 1024px) {
    /* Desktop versions */

    .video-console {
        width:80% !important;
        height:80% !important;
        background-color: black;
        position:absolute;
    }

    .watermark {
        z-index: 1000;
        position: absolute;
        margin: 8px;
        width: 125px;
        height: 50px;
        left: 10%;
        top: 80%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
    /* Tablet versions */

    .video-console {
        width:75% !important;
        height:75% !important;
        background-color: black;
        position:absolute;
    }

    .watermark {
        z-index: 1000;
        position: absolute;
        margin: 8px;
        width: 125px;
        height: 50px;
        left: 12%;
        top: 75%;
    }
}
