.video-control-buttons {
    position: absolute;
    top: 80vw;
    left: 45vw;
}

.video-control-button,
.mobile-video-control-button {
    margin-right: 16px;
    color: black;
}

.mobile-video-control-buttons {
    visibility: visible;
    position: absolute;
    top: 90%;
    left: 30%;
}

.next-peer {
    display: none;
}

.user-action-buttons {
    margin-left: 16px;
}

.white-icon-mic,
.white-icon-vid {
    color: #ffffff;
}

.white-icon-vid {
    margin: 0 8px 0 12px;
}

.purple-icon {
    color: #9C27B0;
    margin-left: 8px;
}

.toolbar-spacer,
.button-spacer {
    flex: 1 1 auto;
}

.button-spacer {
    flex: 0.01 1 auto;
}

.mat-success,
.mat-warning {
    background-color: #FF8C00;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.mat-danger {
    background-color: green;
    color: #fff;
}

.control-container-card {
    display: none;
    width: 200px;
    background-color: #9C27B0;
    padding: 8px;
}

.status-text {
    width: 50%;
    top: 50%;
    left: 30%;
    z-index: 99;
    position: absolute;
    color: #fff;
    font-size: 1.25em;
    margin: 0 auto;
}

.chatloopa-name {
    font-family: 'Satisfy', cursive;
    font-size: 36px;
}

@media only screen and (min-width: 1024px) {
    .stream-container {
        margin-top: 16px;
    }

    .control-container-card {
        visibility: visible;
        display: block;
        margin-top: 32px;
        left: 45%;
        height: auto;
    }

    .status-text {
        left: 42%;
        font-family: 'Roboto', sans-serif;
    }

    .mobile-video-control-buttons {
        display: none;
    }

    .next-peer {
        display: block;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .stream-container {
        margin-top: 16px;
    }

    .control-container-card {
        visibility: visible;
        display: block;
        margin-top: 16px;
        left: 40%;
        height: auto;
    }

    .status-text {
        top: 45%;
        left: 35%;
    }

    .mobile-video-control-buttons {
        display: none;
    }

    .next-peer {
        display: block;
    }
}
