.video-control-buttons {
    position:absolute;
    top:80vw;
    left:45vw;
}

.video-control-button {
    margin-right:16px;
    color:black;
}

.mobile-video-control-buttons {
    visibility: visible;
    position:absolute;
    top:95%;
    left:28%;
}

.mobile-video-control-button {
    margin-right:16px;
    color:black;
}

.next-peer {
    display: none;
}

.user-action-buttons {
    margin-left: 16px;
}

.white-icon-mic {
    color: #ffffff;
}

.white-icon-vid {
    color: #ffffff;
    margin-right: 8px;
    margin-left: 12px;
}

.purple-icon {
    color: #9C27B0;
    margin-left: 8px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.button-spacer {
    flex: 0.01 1 auto;
}

.mat-success {
    background-color: #FF8C00;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.mat-warning {
    background-color: #FF8C00;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.mat-danger {
    background-color: green;
    color: #fff;
}

.control-container-card {
    display: none;
    width: 200px;
    background-color: #9C27B0;
    padding: 8px
}

.status-text {
    width: 50%;
    top: 75vw;
    left: 8vw;
    z-index: 99;
    position: absolute;
    color: #fff;
    font-size: 1.25em;
    margin: 0 auto;
}

.chatloopa-name {
    font-family: 'Satisfy', cursive;
    font-size: 36px;
}

@media only screen and (min-width: 1024px) {
    /* Desktop versions */

    .stream-container {
        margin-top: 16px;
    }

    .control-container-card {
        visibility: visible;
        display: block;
        background-color: #9C27B0;
        margin-top: 32px;
        left: 42vw;
        width: 200px;
        height: auto;
    }

    .status-text {
        width: 50%;
        top: 20vw;
        left: 40vw;
        z-index: 99;
        position: absolute;
        font-family: 'Roboto', sans-serif;
    }

    .mobile-video-control-buttons {
        display: none;
    }

    .next-peer {
        display: block;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
    /* Tablet versions */

    .stream-container {
        margin-top: 16px;
    }
    
    .control-container-card {
        visibility: visible;
        display: block;
        background-color: #9C27B0;
        margin-top: 16px;
        left: 40vw;
        width: 200px;
        height: auto;
    }

    .status-text {
        width: 50%;
        top: 30vw;
        left: 35vw;
        z-index: 99;
        position: absolute;
    }

    .mobile-video-control-buttons {
        display: none;
    }

    .next-peer {
        display: block;
    }
}