@use '@angular/material' as mat;
@include mat.core();

// Define your color palettes using Material 3's new approach
$primary-color: mat.m2-define-palette(mat.$m2-blue-palette);  // Primary color (Blue)
$accent-color: mat.m2-define-palette(mat.$m2-orange-palette); // Accent color (Orange)
$warn-color: mat.m2-define-palette(mat.$m2-red-palette);  // Warn color (Red)

// Define the theme object using the palettes
$myapp-theme: mat.m2-define-light-theme((
  color: (
    primary: $primary-color,
    accent: $accent-color,
    warn: $warn-color,
  ),
  typography: mat.m2-define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($myapp-theme);

// Add any additional global styles or customizations below

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans', "Helvetica Neue", sans-serif;
  background-color: #F7F9FC; // Light grey/white background
}

// Custom red snackbar background
.red-snackbar {
  background: #8B0000; // Custom red background for the snackbar
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

// MDC Checkbox styling
.mdc-checkbox {
  --mdc-checkbox-selected-checkmark-color: #fff;
  --mdc-checkbox-unselected-icon-color: #fff;
  --mdc-checkbox-unselected-pressed-icon-color: #fff;
  --mdc-checkbox-unselected-hover-icon-color: #fff;
  --mdc-checkbox-unselected-focus-icon-color: #fff;
}
