// src/styles.scss
@use '@angular/material' as mat;

// Custom Theming for Angular Material 17

// Define your color palettes
$primary-palette: mat.m2-define-palette(mat.$m2-amber-palette);
$accent-palette: mat.m2-define-palette(mat.$m2-deep-orange-palette, A200, A100, A400);
$warn-palette: mat.m2-define-palette(mat.$m2-red-palette);

// Define the theme object using the palettes
$my-theme: mat.m2-define-light-theme(
  $primary-palette,
  $accent-palette,
  $warn-palette
);

// Include the theme styles for Angular Material components
@include mat.all-component-themes($my-theme);

// Add any additional global styles or customizations below

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #BA68C8;
}

.mat-toolbar {
  background: #9C27B0;
  color: #fff;
}

.red-snackbar {
  background: #8B0000;
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
