.dialog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 300px;
    min-width: 800px;
    padding: 16px;
}

.header {
    font-family: 'Satisfy', cursive;
    font-size: 48px;
    color: #9C27B0;
    margin-bottom: 24px;
    align-self: center;
}

.checkbox-container {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-top: 16px;
}

.continue-dialog-button {
    width: 25%;
    align-self: center;
    margin-top: 16px;
}

.initial-dialog-content {
    width: auto;
    align-self: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
}
::ng-deep .mdc-label {
    margin-top: 8px;
}

// breaks up long labels on the checkbox
::ng-deep .mat-mdc-checkbox-layout {
    white-space: normal !important;
}

.dialog-style .mat-mdc-dialog-container {
    background-color: #9C27B0;
}

.mat-mdc-success {
    font-family: 'Roboto', sans-serif;
    background-color: #FF8C00;
    color: #fff;
}

.dialog-action-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.text-chat-action-button {
    width: 25%;
    align-self: center;
    margin-top: 16px;
    margin-right: 8px;
}